:root {
  // Colors
  --header-color: #2c2c2c;
  --link-active-color: #fff;
  --link-color: #767676;

  --button-bg-color: #ec691a;
  --button-bg-color-secondary: #f5f5f5;
  --button-text-color: #ebffee;

  --text-color: #1e1e1e;
  --text-color-secondary: #757575;

  --primary-bg-color: #fff;
  --secondary-bg-color: #fafafa;

  --bg-overlay-color: rgba(0, 0, 0, 0.5);

  --input-border-color: #b3b3b3;

  --success-color: #14ae5c;
  --success-bg-color: var(--button-text-color);
  --error-color: #ec221f;
  --error-bg-color: #fee9e7;

  // Fonts
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: Nunito, sans-serif;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1rem;
  --font-size-md: 0.875rem;
  --font-size-sm: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  // Sizing
  --max-content-width: 1200px;

  --border-radius-lg: 9999px;
  --border-radius-md: 8px;
  --border-radius-sm: 4px;
}
