:root {
  // Colors
  --header-color: #2c2c2c;
  --link-active-color: #fff;
  --link-color: #767676;

  --button-bg-color: #ec691a;
  --button-bg-color-secondary: #f5f5f5;
  --button-text-color: #ebffee;

  --text-color: #1e1e1e;
  --text-color-secondary: #757575;

  --primary-bg-color: #fff;

  --bg-overlay-color: rgba(0, 0, 0, 0.5);

  //   Fonts
  --font-family: 'Inter', sans-serif;
  --font-size-base: 1rem;
  --font-size-md: 0.875rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
