.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
}
.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  max-width: calc(var(--max-content-width) + 2rem);
  width: 100%;
  padding: 1rem;
  transition: 0.3s;
}
.header__logo {
  position: relative;
  min-width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  transition: min-width 0.3s ease-in-out;
}
.header__logo-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}
.header__logo-image--desktop {
  opacity: 1;
}
.header__logo-image--mobile {
  height: 16px;
  width: 16px;
  opacity: 0;
}
.header__nav {
  display: flex;
  gap: 2rem;
}
.header__link {
  font-weight: var(--font-weight-medium);
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--font-size-lg);
  transition: 0.3s;
  line-height: 1.4;
  cursor: pointer;
}
.header__link:hover {
  opacity: 0.5;
}
.header__link--active {
  color: var(--link-active-color);
}

@media (max-width: 700px) {
  .header__logo {
    min-width: 16px;
  }
  .header__logo-image--desktop {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }
  .header__logo-image--mobile {
    opacity: 1;
    transition: opacity 0;
  }
}
@media (max-width: 410px) {
  .header__link {
    font-size: var(--font-size-md);
  }
}
