.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
}
.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  max-width: calc(var(--max-content-width) + 2rem);
  width: 100%;
  padding: 1rem;
}
.header__nav {
  display: flex;
  gap: 2rem;
}
.header__link {
  font-weight: var(--font-weight-medium);
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--font-size-lg);
  transition: 0.3s;
  line-height: 1.4;
  cursor: pointer;
}
.header__link:hover {
  opacity: 0.5;
}
.header__link--active {
  color: var(--link-active-color);
}
